/* src/landing/fun-background.css */
.fun-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.fun-background .fun-background-scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.fun-background .fun-background-scroller .fun-background-thread {
  position: absolute;
  bottom: -20em;
  margin: 1em;
  padding: 1em;
  border: solid 1px #e9da8a;
  background: #fffbeb;
  box-shadow: 2px 4px 10px #00000014;
  border-radius: 0.5em;
  max-width: 20em;
  animation: 13s linear 1s forwards slidetop;
  font-family: sans-serif;
  font-size: 1.8vh;
}
.fun-background .fun-background-scroller .fun-background-thread .fun-background-thread-likes {
  text-align: right;
  opacity: 0.5;
  margin-top: 0.2em;
}
.fun-background .fun-background-scroller .fun-background-thread .fun-background-thread-likes svg {
  transform: scale(0.8) translateY(0.3em);
}
@keyframes slidetop {
  from {
    transform: translateY(0) rotate(-4deg);
  }
  25% {
    transform: translateY(-40vh) rotate(+5deg);
  }
  50% {
    transform: translateY(-80vh) rotate(-7deg);
  }
  75% {
    transform: translateY(-120vh) rotate(+5deg);
  }
  to {
    transform: translateY(-160vh) rotate(-5deg);
  }
}

/* src/landing/landing.css */
.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr auto 3fr auto;
}
.landing .landing-top-bar {
  grid-row: 1;
  padding: 0.2em;
}
.landing .landing-handle-band {
  grid-row: 3;
  background:
    linear-gradient(
      to right,
      #b2cdffd9,
      #1667ff8f);
  border-top: solid 1.5px #789cdc;
  border-bottom: solid 1px #8eb6ff;
  box-shadow: 0 8px 20px 5px #00000030;
  backdrop-filter: blur(3px) contrast(0.7);
  display: grid;
}
.landing .landing-handle-band:focus-within {
  background:
    linear-gradient(
      to right,
      #c3d8fff5,
      #1667ff8f);
}
.landing .landing-handle-band input {
  padding-left: 0.5em;
  font-size: 6.7vh;
}
.landing .landing-handle-band label {
  padding-left: 4.5vh;
  padding-top: 1.5vh;
  font-style: italic;
  font-size: 2.5vh;
}
.landing .landing-auto-completion-area {
  grid-row: 4;
  align-self: start;
  justify-self: start;
  background: rgb(255 255 255 / 80%);
  padding: 0.5em;
  padding-right: 0.7em;
  padding-bottom: 0.25em;
  margin-left: 0.5em;
  z-index: 1;
  border: solid 1px #2b2b2b;
  border-top: none;
  font-size: 2.5vh;
  font-family: sans-serif;
  backdrop-filter: blur(3px) contrast(0.7);
  box-shadow: 0 8px 20px 5px #00000030;
}
.landing .landing-auto-completion-area .landing-auto-complete-entry {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  padding: 0.2em 0;
  text-decoration: none;
  color: inherit;
}
.landing .landing-bottom-bar {
  grid-row: 5;
  padding: 0.2em;
  font-family: sans-serif;
  color: silver;
}

/* src/widgets/account/account-label.css */
.account-label .account-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
  position: relative;
  top: -0.15em;
}
/*# sourceMappingURL=index.css.map */
