/* src/widgets/account/full-handle.css */
/* src/widgets/account/account-label.css */
.account-label .account-handle {
  display: flex;
}
.account-label a.account-handle {
  color: inherit;
  text-decoration: none;
}
.account-label .handle-bsky-social-suffix {
  display: inline-block;
  zoom: 0.7;
  transform: scaleY(1.43) translateY(0.08em);
  transform-origin: bottom;
  opacity: 0.6;
}
.account-label .handle-bsky-social-suffix-dot {
  opacity: 0.6;
  padding-left: 0.05em;
  padding-right: 0.1em;
}
.account-label .account-avatar {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
  position: relative;
}
.account-label .account-avatar.account-avatar-at-sign {
  color: #7fa9f4;
  display: inline-grid;
  align-items: center;
  justify-items: center;
  transform: scale(1.2);
}
.account-label .handle-main-text {
  color: #365ca1;
}
.account-label .handle-tld-suffix {
  color: #123a82;
  text-shadow: 0 0 1px #00389d;
}
.account-label .handle-bsky-social-suffix {
  color: #365ca1;
}
.account-label .handle-bsky-social-suffix-dot {
  color: #365ca1;
}
.account-label .account-label-display-name {
  padding-left: 0.3em;
}

/* src/landing/fun-background.css */
.fun-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.fun-background .fun-background-scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: perspective(500px);
}
.fun-background .fun-background-scroller .fun-background-thread-bubble {
  position: absolute;
  bottom: -50vh;
  margin: 1em;
  max-width: 20em;
  animation: 13s linear 1s forwards slidetop;
  font-family: sans-serif;
  font-size: 1.8vh;
}
.fun-background .fun-background-scroller .fun-background-thread {
  animation: 3s ease-in-out infinite alternate rock;
}
.fun-background .fun-background-scroller .fun-background-thread .fun-background-thread-author {
  white-space: nowrap;
}
.fun-background .fun-background-scroller .fun-background-thread .fun-background-thread-content > p {
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
}
.fun-background .fun-background-scroller .fun-background-thread .fun-background-thread-content > p:first-child {
  margin-top: 0;
}
.fun-background .fun-background-scroller .fun-background-thread .fun-background-thread-likes {
  text-align: right;
  opacity: 0.4;
  margin-top: 0.2em;
}
.fun-background .fun-background-scroller .fun-background-thread .fun-background-thread-likes svg {
  transform: scale(0.8) translateY(0.3em);
}
@keyframes slidetop {
  from {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-30vh);
  }
  to {
    transform: translateY(-180vh);
  }
}
@keyframes rock {
  from {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(7deg);
  }
  to {
    transform: rotate(-8deg);
  }
}

/* src/widgets/post/post.css */
.post-frame-outer {
  padding: 1em;
  border: solid 1px #f7d69c;
  border-top-color: #e9c78a;
  border-left-color: #e9c78a;
  background: #fffbeb;
  box-shadow: 2px 4px 10px #0000002b;
  border-radius: 0.5em;
}
.post-loading-in-progress {
  color: inherit;
  text-decoration: none;
}
.thread-reply-post.post-frame-outer {
  box-shadow: 2px 2px 10px #0000002b;
}
.post-top-line {
  display: grid;
  grid-template-columns: 1fr auto;
  white-space: nowrap;
}
.post-top-line .post-date {
  opacity: 0.5;
  color: inherit;
  text-decoration: none;
}
.post-content p {
  margin: 0.7em 0;
}
.post-content p:first-child {
  margin-top: 0.5em;
}
.post-content p:last-child {
  margin-bottom: 0.3em;
}
.post-embeds-section {
  margin: 0.7em 0;
}
.post-embeds-section.post-embeds-section-compact {
  zoom: 65%;
}
.post-likes {
  text-align: right;
  opacity: 0.4;
  margin-top: 0.2em;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.2em;
  padding-right: 0.2em;
}
.sub-thread {
  z-index: 1;
  position: relative;
}
.post-embeds-section .post-frame-outer {
  transform: rotate(-1deg) translate(1.3em, 0px);
  zoom: 0.95;
  background:
    linear-gradient(
      154deg,
      #fffefa,
      #fffbeb 19em);
  border-top-color: #e4bb73;
  border-left-color: #e39200;
  box-shadow: 1px 2px 10px #0000002b;
}
.post-embeds-section .embed-frame-outer {
  background: white;
  border-radius: 0.5em;
  overflow: hidden;
  border: solid 1px #d9d4d4;
  border-radius: 0.5em;
  box-shadow: inset 2px 2px 7px #00000012;
  position: relative;
}
.post-embeds-section .embed-frame-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  border: solid 1px #d9d4d4;
  border-radius: 0.5em;
  box-shadow: inset 2px 2px 7px #00000012;
  pointer-events: none;
}
.post-embeds-section .post-embed-link-title {
  padding: 0.5em 1em;
  font-size: 110%;
  color: #2177bd;
}
.post-embeds-section .post-embed-link-title a {
  color: inherit;
  text-decoration: none;
}
.post-embeds-section .post-embed-link-title:hover a,
.post-embeds-section .post-embed-link-title a:active {
  text-decoration: underline;
}
.post-embeds-section .post-embed-link-url {
  padding-left: 1.2em;
  padding-bottom: 0.1em;
  font-size: 90%;
  color: white;
  background: #379ef1;
}
.post-embeds-section .post-embed-link-url a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-right: 0;
}
.post-embeds-section .post-embed-image-and-description,
.post-embeds-section .post-embed-link-image-and-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.post-embeds-section .post-embed-image-and-description .post-embed-image-description-wrapper,
.post-embeds-section .post-embed-link-image-and-description .post-embed-link-description-wrapper {
  position: relative;
  border-right: solid 1px #e5e5e5;
}
.post-embeds-section .post-embed-image-and-description .post-embed-image-description,
.post-embeds-section .post-embed-link-image-and-description .post-embed-link-description {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 90%;
  color: #3d3d3d;
}
.post-embeds-section .post-embed-image-and-description .post-embed-image-description p,
.post-embeds-section .post-embed-link-image-and-description .post-embed-link-image-description p {
  margin: 0.5em 0;
}
.post-embeds-section .post-embed-image-and-description .post-embed-image-description p:first-child,
.post-embeds-section .post-embed-link-image-and-description .post-embed-link-image-description p:first-child {
  margin-top: 0;
}
.post-embeds-section .post-embed-image-wrapper,
.post-embeds-section .post-embed-link-image-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
}
.post-embeds-section .post-embed-link-gif-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 15% 15%;
}
.post-embeds-section img.post-embed-image,
.post-embeds-section img.post-embed-link-image {
  width: 100%;
  max-height: 20em;
  min-height: 3em;
  object-fit: cover;
  object-position: 15% 15%;
}
.post-embeds-section .post-embed-images-multiple img.post-embed-image {
  max-height: 6em;
}
.post-embeds-section .post-embed-images-2 img.post-embed-image {
  max-height: 10em;
}
.post-embeds-section .post-embed-images-multiple .post-embed-image-and-description {
  border-top: solid 1px #dbdbdb;
}
.post-embeds-section .post-embed-images-multiple .post-embed-image-and-description:first-child {
  border-top: none;
}

/* src/landing/landing.css */
.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr auto 3fr auto;
}
.landing .landing-top-bar {
  grid-row: 1;
  padding: 0.2em;
}
.landing .landing-handle-band {
  grid-row: 3;
  background:
    linear-gradient(
      to right,
      #ffdf4ad9,
      #ffd8008f);
  border-top: solid 1.5px #dcca78;
  border-bottom: solid 1px #1a160082;
  box-shadow: 0 22px 36px 5px #00000045;
  backdrop-filter: blur(3px) contrast(0.7);
  display: grid;
}
.landing .landing-handle-band:focus-within {
  background:
    linear-gradient(
      to right,
      #ffe055ec,
      #ffd8008f);
}
.landing .landing-handle-band input {
  padding-left: 0.5em;
  font-size: 6.7vh;
  -webkit-background-clip: text;
}
.landing .landing-handle-band label {
  padding-left: 4.5vh;
  padding-top: 1.5vh;
  font-style: italic;
  font-size: 2.5vh;
}
.landing .landing-auto-completion-area {
  grid-row: 4;
  align-self: start;
  justify-self: start;
  background-color: #e5edfccc;
  background-image:
    linear-gradient(
      178deg,
      #d7c95e,
      transparent 21px);
  padding: 0.5em;
  padding-right: 0.7em;
  padding-bottom: 0.25em;
  margin-left: 0.5em;
  margin-top: -1vh;
  z-index: 1;
  border: solid 1px #2b2b2b;
  border-top: none;
  font-size: 2.5vh;
  font-family: sans-serif;
  backdrop-filter: blur(3px) contrast(0.7);
  box-shadow: 0 26px 20px 5px #00000030;
}
.landing .landing-auto-completion-area .landing-auto-complete-entry {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  padding: 0.2em 0;
  text-decoration: none;
  color: inherit;
}
.landing .landing-bottom-bar {
  grid-row: 5;
  padding: 0.2em 0.4em;
  font-family: sans-serif;
  color: #bdd4fc;
  text-shadow: 0 0 14px #0052ff, 0 0 2px black;
}

/* src/widgets/account/account-chip.css */
.account-avatar.account-avatar-chip {
  background: no-repeat center center;
  background-size: cover;
  color: transparent;
  border-radius: 200%;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
  position: relative;
  top: -0.15em;
}

/* src/widgets/post/thread.css */
.thread-view .thread-reply-post {
  margin-top: -0.7em;
}
.thread-view .collapsed-thread-part {
  padding-left: 2em;
  margin: -0.8em 0;
}
.thread-view .collapsed-thread-part .collapsed-many-posts {
  display: grid;
  grid-template-columns: auto 1fr;
}
.thread-view .collapsed-thread-part .collapsed-many-posts .collapsed-many-posts-first,
.thread-view .collapsed-thread-part .collapsed-many-posts .collapsed-many-posts-rest,
.thread-view .collapsed-thread-part .collapsed-single-post,
.thread-view .collapsed-thread-part .collapsed-few-posts .collapsed-few-post-one {
  padding: 0.7em;
  padding-bottom: 1em;
  border: solid 1px #f7d69c;
  background: #fffcf2;
  box-shadow: 0px 0px 10px #0000001c;
  border-radius: 1.2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.thread-view .collapsed-thread-part .account-avatar-chip {
  opacity: 0.6;
}
.thread-view .collapsed-thread-part .collapsed-many-posts .collapsed-many-posts-rest {
  justify-self: start;
  position: relative;
  left: -0.4em;
}
.thread-view .collapsed-thread-part .collapsed-single-post {
  display: inline-block;
}
.thread-view .collapsed-thread-part .collapsed-many-posts .collapsed-many-posts-rest .collapsed-many-posts-counter {
  padding-left: 0.3em;
  opacity: 0.5;
}
.thread-view .collapsed-thread-part .collapsed-few-posts .collapsed-few-post-one {
  display: inline-block;
  position: relative;
  margin-right: -0.4em;
}

/* src/history/timeline.css */
.timeline-container {
  margin-right: 0.4em;
}
.timeline-container > .sub-thread {
  margin-top: 1.6em;
}
.timeline-container .sub-thread {
  padding-left: 1em;
}
.timeline-container .timeline-bottom-visibility-spacer {
  position: relative;
  pointer-events: none;
}
.timeline-container .timeline-bottom-visibility-spacer .timeline-bottom-visibility-spacer-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}

/* src/history/history.css */
html.account body {
  overflow: auto;
}
.history-view {
  display: grid;
  grid-template-rows: 14vmax 7vmax 7vmax auto 1fr;
  grid-template-columns: 14vmax 1fr;
  min-height: 100vmax;
}
.history-view .history-account-banner-bg {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  background: no-repeat left center;
  background-size: cover;
  border-bottom: solid 1px #dbdbdb;
  z-index: 7;
  background-color: white;
}
.history-view .history-account-avatar {
  grid-row: 2 / 4;
  grid-column: 1;
  font-size: 1vmax;
  background: no-repeat center center;
  background-size: cover;
  border-radius: 200%;
  box-shadow: inset -0.5em -0.5em 1em #00000026;
  margin-top: 1em;
  margin-left: 1em;
  border: solid 0.6em white;
  background-color: white;
  position: sticky;
  top: 0.8em;
  z-index: 8;
}
.history-view .history-account-avatar-bg {
  position: sticky;
  top: 1.7em;
  grid-row: 2 / 4;
  grid-column: 1;
  margin-top: 1em;
  margin-left: 0.5em;
  z-index: 5;
  border-radius: 200%;
  box-shadow: 0 0 1.3em #0000009c;
  transform: translateY(-1em) scaleX(0.7);
}
.history-view .history-account-displayName-and-handle {
  grid-row: 3;
  grid-column: 2;
  padding-top: 0.2em;
  padding-left: 0.2em;
  position: sticky;
  top: 3vmax;
  z-index: 10;
}
.history-view .sticky-header-background,
.history-view .sticky-header-background-cover {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  z-index: 5;
}
.history-view .sticky-header-background {
  position: sticky;
  top: 0;
  background:
    linear-gradient(
      to top,
      transparent,
      #00000017 1em,
      white 1em);
}
.history-view .sticky-header-background-cover {
  background: white;
}
.history-view .history-account-displayName {
  font-size: 3vmax;
  line-height: 1;
  text-shadow: 0 0.3px 1px black;
}
.history-view .history-account-handle {
  padding-top: 0.5em;
}
.history-view .history-account-handle .at-sign {
  display: inline-block;
  text-align: center;
  transform: scale(1.1) translateY(0.05em);
  padding-right: 0.05em;
}
.history-view .history-account-handle .handle-bsky-social-suffix-dot {
  padding-left: 0.1em;
  padding-right: 0.05em;
}
.history-view .history-account-handle .handle-tld-suffix-dot {
  padding-left: 0.1em;
  padding-right: 0.05em;
}
.history-view .history-account-handle .handle-bsky-social-suffix {
}
.history-view .history-account-description {
  grid-row: 4;
  grid-column: 1 / 3;
  align-self: start;
  line-height: 1.2;
  z-index: 4;
  position: relative;
  padding-left: 0.4em;
  margin-top: 1vmax;
  overflow-wrap: anywhere;
}
.history-view .history-account-description > p {
  margin-top: 0.4em;
  margin-bottom: 0;
}
.history-view .history-account-description > p:first-child {
  margin-top: 0;
}
.history-view .timeline-container {
  grid-row: 5;
  grid-column: 1 / 3;
  overflow-wrap: anywhere;
}
@media (min-aspect-ratio: 5.5/5) {
  .history-view {
    grid-template-rows: 10rem 5.5rem 5.5rem auto 1fr;
    grid-template-columns: 11rem 1fr;
  }
  .history-view .history-account-displayName-and-handle {
    top: 3em;
  }
  .history-view .history-account-displayName {
    font-size: 2rem;
  }
  .history-view .history-account-description {
    margin-top: 0.6em;
  }
}
/*# sourceMappingURL=index.css.map */
