html.account body {
  overflow: auto;
}

.history-view {
  display: grid;
  grid-template-rows: 20vh 7vh 7vh auto 1fr;
  grid-template-columns: 14vh 1fr;
  min-height: 100vh;
}

.history-view .history-account-banner-bg {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  background: no-repeat left center;
  background-size: cover;
  border-bottom: solid 1px silver;
}

.history-view .history-account-banner-stripe-below {
}

.history-view .history-account-avatar {
  grid-row: 2 / 4;
  grid-column: 1;
  background: no-repeat center center;
  background-size: cover;
  border-radius: 200%;
  box-shadow: 0 2px 1px white, inset -0.5vh -0.5vh 1vh #00000026;
  z-index: 3;
  margin-top: 1vh;
  margin-left: 1vh;
  border: solid 0.6vh white;
}

.history-view .history-account-displayName-and-handle {
  grid-row: 3;
  grid-column: 2;
  justify-self: start;
  position: relative;
  z-index: 1;
  padding-top: 0.2em;
  padding-left: 0.2em;
}

.history-view .history-account-displayName {
  font-size: 3vh;
  line-height: 1;
  text-shadow: 0 0.3px 1px black;
}

.history-view .history-account-handle {
  padding-top: 0.5em;
}

.history-view .history-account-handle .at-sign {
  display: inline-block;
  text-align: center;
  transform: scale(1.1) translateY(0.05em);
  padding-right: 0.05em;
}

.history-view .history-account-handle .handle-bsky-social-suffix-dot {
  padding-left: 0.1em;
  padding-right: 0.05em;
}

.history-view .history-account-handle .handle-tld-suffix-dot {
  padding-left: 0.1em;
  padding-right: 0.05em;
}

.history-view .history-account-handle .handle-bsky-social-suffix {
}

.history-view .history-account-description {
  grid-row: 4;
  grid-column: 2;
  align-self: start;
  line-height: 1.2;
  z-index: 4;
  position: relative;
  margin-top: 1vh;
}

.history-view .timeline-container {
  grid-row: 5;
  grid-column: 1 / 3;
}
