#searchINPUT {
  position: relative;
  z-index: 10;
}

.autocomplete-list {
  position: absolute;
  background: white;
  z-index: 10;
  padding: 0.25em 0.5em;
  border: solid 1px black;
  max-width: 60%;
  max-height: 60%;
  overflow: auto;
}

span.autocomplete-post {
  float: right;
  font-size: 80%;
  color: #b55f00;
}
